* {
  margin: 0;
  box-sizing: border-box;
}
.main-logo__link {
  text-decoration: none;
  color: #723d46;
  font-size: 40px;
}
.main {
  background-color: #ffe1a8;
  padding: 8px 16px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 109px);
}
.main-nav__items {
  list-style-type: none;
}
.main-nav__item {
  display: inline-block;
  margin-right: 16px;
}
.main-nav__item--login a {
  border: 3px solid;
  padding: 4px 8px;
  border-radius: 8px;
}
.main-nav__item a:hover {
  color: #e26d5c;
}
.main-nav__item--login a:hover {
  background-color: #c9cba3;
  border-color: #e26d5c;
  color: #e26d5c;
}
.main-nav__item a {
  text-decoration: none;
  font-size: 30px;
  color: #723d46;
}
.showcase {
  height: 600px;
  background-image: url("images/background-img.jpg");
  background-position: bottom center;
}
.showcase h1 {
  color: #e26d5c;
  text-align: center;
  padding-top: 40px;
  font-size: 70px;
}
.info {
  background-color: #c9cba3;
  text-align: center;
  padding: 10px;
}
.row {
  margin-bottom: 30px;
}
.col {
  display: inline-block;
  width: 30%;
  padding: 8px;
  margin: 10px;
}
.row h2 {
  color: #e26d5c;
  font-weight: 600;
  font-size: 30px;
}
.icon-box h3 {
    font-size: 25px;
  font-weight: 500;
  color: #e26d5c;
}
