html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}
.main-logo__link {
  text-decoration: none;
  color: #723d46;
  font-size: 40px;
}
.main {
  background-color: #ffe1a8;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.main-line {
  height: 5px;
  background-color: #723d46;
  width: 100%;
  margin: 0;
  position: relative;
  top: 8px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 109px);
}
.main-nav__items {
  list-style-type: none;
}
.main-nav__item {
  display: inline-block;
  margin-right: 16px;
}
.main-nav__item--login a {
  border: 3px solid;
  padding: 4px 8px;
  border-radius: 8px;
}
.main-nav__item a:hover {
  color: #e26d5c;
}
.main-nav__item--login a:hover {
  border-color: #e26d5c;
  color: #e26d5c;
}
.main-nav__item a {
  text-decoration: none;
  font-size: 30px;
  color: #723d46;
}
.showcase {
  height: 80vh;
  background-image: linear-gradient(
      to bottom,
      rgba(231, 138, 126, 0.1),
      rgba(247, 216, 212, 0.1)
    ),
    url("images/background-img.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-top: 63px;
}
.main_title_bg {
  text-align: center;
  width: 45%;
  padding: 16px 32px;
  margin: 0;
  color: #e26d5c;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(47, 43, 43, 0.4);
}

.info {
  background-color: #ffe1a8;
  text-align: center;
  padding: 10px;
}
.row {
  margin-bottom: 30px;
}
.col-3 {
  display: inline-block;
  width: 30%;
  padding: 8px;
  margin: 10px;
  vertical-align: top;
}
.section-title {
  color: #e26d5c;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.icon-box h3 {
  font-size: 25px;
  font-weight: 500;
  color: #e26d5c;
}
.feature {
  background-color: #e26d5c;
}
.col-2 {
  width: calc(50% - 2px);
  height: 300px;
  display: inline-block;
  vertical-align: top;
}
.feature__left {
  background-image: linear-gradient(
      to bottom,
      rgba(231, 138, 126, 0.2),
      rgba(247, 216, 212, 0.2)
    ),
    url(images/feature-image.jpg);
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.feature__right {
  padding: 40px;
}
.feature__right h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.feature__right a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  border: 3px solid #ffe1a8;
  border-radius: 8px;
  background-color: #ffe1a8;
  color: #e26d5c;
  padding: 8px 16px;
}
.feature__right a:hover {
  background-color: #e26d5c;
  color: #ffe1a8;
  border: 3px solid #ffe1a8;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
#plans {
  background-color: #ffe1a8;
}
.plan {
  float: left;
  text-align: center;
  padding: 5px;
  width: 33.3%;
  border-radius: 20px;
}
.inner-plan {
  background: #e26d5c;
  padding: 8px 8px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
  transition: box-shadow 0.6s;
}
.inner-plan:hover {
  box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
}
.plan__badge {
  padding: 5px;
  color: #fcf8e8;
  background-color: #94b49f;
  border-radius: 20px;
}
.recommended_plan {
  background-color: #76549a;
  position: relative;
  bottom: 15px;
}
.plan__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.plan__features li {
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
#backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
#backtotop i {
  color: #521f28;
  opacity: 0.75;
  font-size: 35px;
  transition: color 0.5s;
}
#backtotop i:hover {
  opacity: 1;
}
.footer {
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, rgb(235, 158, 147), rgb(223, 99, 83));
  padding: 10px;
}
.footer_col-3 {
  padding: 16px 32px;
  float: left;
  width: 33.3%;
}
.footer_content{
  color: #fff;
  font-size: 30px;
}
