* {
  margin: 0;
  box-sizing: border-box;
}
.main-logo__link {
  text-decoration: none;
  color: #723d46;
  font-size: 40px;
}
.main {
  background-color: #ffe1a8;
  padding: 8px 16px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 109px);
}
.main-nav__items {
  list-style-type: none;
}
.main-nav__item {
  display: inline-block;
  margin-right: 16px;
}
.main-nav__item--login a {
  border: 3px solid;
  padding: 4px 8px;
  border-radius: 8px;
}
.main-nav__item a:hover {
  color: #e26d5c;
}
.main-nav__item--login a:hover {
  border-color: #e26d5c;
  color: #e26d5c;
}
.main-nav__item a {
  text-decoration: none;
  font-size: 30px;
  color: #723d46;
}
.showcase {
  height: 600px;
  background-image: url("images/background-img.jpg");
  background-position: bottom center;
}
.showcase h1 {
  color: #e26d5c;
  text-align: center;
  padding-top: 40px;
  font-size: 70px;
}
.info {
  background-color: #ffe1a8;
  text-align: center;
  padding: 10px;
}
.row {
  margin-bottom: 30px;
}
.col-3 {
  display: inline-block;
  width: 30%;
  padding: 8px;
  margin: 10px;
  vertical-align: top;
}
.row h2 {
  color: #e26d5c;
  font-weight: 600;
  font-size: 30px;
}
.icon-box h3 {
  font-size: 25px;
  font-weight: 500;
  color: #e26d5c;
}
.feature {
  background-color: #e26d5c;
}
.col-2 {
  width: calc(50% - 2px);
  height: 300px;
  display: inline-block;
  vertical-align: top;
}
.feature__left {
  background-image: url(images/feature-image.jpg);
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.feature__right {
  padding: 40px;
}
.feature__right h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.feature__right a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  border: 3px solid #ffe1a8;
  border-radius: 8px; 
  background-color: #ffe1a8;;
  color: #e26d5c;
  padding: 8px 16px;
}
.feature__right a:hover{
  background-color: #e26d5c;
  color:#ffe1a8;
  border: 3px solid #ffe1a8;
}
